
<!--

<div class="container">
  <div class="row text-center mt-5">
    <div class="col">
      <img class="img-fluid" src="../../../assets/img/home.jpg" width="500" alt="wallpaper">
    </div>
  </div>
  <div class="row text-center my-5">
    <div class="col">
      <button class="btn btn-lg enter-button" routerLink="/starships" >Expand Galaxy</button>
    </div>
  </div>
</div>

-->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/carol-kennedy-X5WdN60n6yk-unsplash.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/tommy-van-kessel-_sDlQf6f7gc-unsplash.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/venti-views-35uZM_4wjYg-unsplash.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="row text-center my-5">
  <div class="col">
    <button class="btn btn-lg enter-button" routerLink="/starships" >Expand Galaxy</button>
  </div>
</div>




