.card {
  background-color: #333;
  color: white;
}

.list-group-item {
  background-color: #333;
  color: white;

}

.card-body {
  border-left: 1px solid red;
}

.photo {
  background-color: black;
}

.starship {
    color: white;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

    background-color: black;

}
