<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-6 photo">
      <img src= {{photoURL}} (error)="photoURL = 'https://starwars-visualguide.com/assets/img/big-placeholder.jpg'" class="img-fluid rounded-start" alt={{starshipDetail.name}}>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{starshipDetail.name}}</h5>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Model: {{starshipDetail.model}}</li>
          <li class="list-group-item">Cost in credit: {{starshipDetail.cost_in_credits}}</li>
          <li class="list-group-item">Atmospheric Speed: {{starshipDetail.max_atmosphering_speed}}</li>
          <li class="list-group-item">Manufacter: {{starshipDetail.manufacturer}}</li>
          <li class="list-group-item">Length: {{starshipDetail.length}}</li>
          <li class="list-group-item">Crew: {{starshipDetail.crew}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
