<nav class="navbar">
  <div class="container">
    <div>
      <img class="logo" src="../../../assets/img/star-wars-logo.svg" loading="lazy" alt="Star Wars Logo" width="350" height="300">
    </div>
    <div class="buttons-container">
      <button type="button" class="btn btn-clear">
        <i class="fa fa-sign-in-alt"></i> Login
      </button>
      <button type="button" class="btn btn-clear">
        <i class="fa fa-user-plus"></i> Signup
      </button>
    </div>
  </div>
</nav>

<div class="container button-row">
  <button type="button" class="btn" routerLink="">
    Home
  </button>
  <button type="button" class="btn" routerLink="starships">
    Starship
  </button>
</div>
